aiofiles
aiohttp
aiosignal
annotated-types
anyio
argcomplete
asgiref
async-timeout
attrs
backoff
bcrypt
beautifulsoup4
blis
Brotli
cachetools
catalogue
certifi
chardet
charset-normalizer
chroma-hnswlib
chromadb
click
cloudpathlib
coloredlogs
confection
cymem
dataclasses-json
distro
Django
docx
emoji
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
fastapi
filelock
filetype
flatbuffers
frozenlist
fsspec
fuzzywuzzy
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
h11
httpcore
httptools
httpx
huggingface-hub
humanfriendly
idna
importlib-resources
Jinja2
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-openai
langcodes
langsmith
lxml
Markdown
MarkupSafe
marshmallow
monotonic
mpmath
multidict
murmurhash
mutagen
mypy-extensions
networkx
nltk
numexpr
numpy
onnxruntime
openai
overrides
packaging
pandas
pillow
pip-autoremove
posthog
preshed
promptlayer
proto-plus
protobuf
pulsar-client
pyasn1
pyasn1-modules
pycryptodomex
pydantic
pydantic_core
pypandoc
PyPika
python-dateutil
python-docx
python-dotenv
python-magic
pytz
PyYAML
redis
regex
requests
rsa
ruamel.yaml
ruamel.yaml.clib
safetensors
shapely
six
slack-bolt
slack-sdk
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
sqlparse
srsly
starlette
sympy
tabulate
tenacity
thinc==8.2.2
tiktoken
tokenizers
tomlkit
torch
tqdm
transformers
typer
typing-inspect
typing_extensions
tzdata
unstructured
urllib3
uvicorn
wasabi
watchfiles
weasel
websockets
xmltodict
yarl
yt-dlp
